
       
<div class="container p-4">
        <div class="row">
            <div class="col-md-1"></div>
                <div class="col-md-10 text-center">
                    <table class="table table-light">
                            <thead>
                                    <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Duracion</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Director</th>
                                    <th scope="col">Genero</th>
                                    <th scope="col">Accion</th>
                                    </tr>
                            </thead>
                            <tr  *ngFor ="let pelicula of Pelicula"> 
                                <td>{{pelicula.NombrePelicula}}</td>
                                <td>{{pelicula.DuracionPelicula}} </td>
                                <td>{{pelicula.Descripcion}}</td>
                                <td>{{pelicula.Director}}</td>
                                <td>{{pelicula.Genero}}</td>
                                <td><div>
                                    <button class ="btn btn-danger" (click) = "Eliminarpelicula(pelicula)">
                                        Eliminar
                                    </button>
                                    <button class ="btn btn-primary" (click) = "EditarPelicula(pelicula)">
                                        Editar
                                    </button>
                                </div>
                            </td>
                            </tr> 
                            
                    </table>
                </div>
            </div>
        </div>


        

