<nav class="navbar navbar-oscuro bg-dark">

    <div class= "container">
        <a href= "/" class="navbar-brand" style="color:#FFFFFF" >
        Home
        </a>
        <a routerLink = "/Ingresar" class="navbar-brand"style="color:#FFFFFF" >
        Ingresar Peliculas
        </a>
        <a routerLink = "/Leer" class="navbar-brand" style="color:#FFFFFF" >
        Ver Peliculas
        </a>
        <a align="right" class="navbar-brand" style="color:#FFFFFF" >
           Luis Gonzalez 1086415
        </a>
    </div>
</nav>

