<div class="container p-4">
        <div class="row">
                <div class="col-md-5 text-center">
                    <div class="texto">
                        <div class="card-body">
                            <form (submit)= "agregarpelicula(NuevaDuracion,NuevaDescripcion,NuevoDirector,NuevoGenero) ">
                                <div class="form-group">
                                    <input type ="text" class ="form-control" placeholder="Titulo Pelicula" #NuevaPelicula [(ngModel)] = "NombrePelicula" name = "NombrePelicula">
                                </div>
                                <div class="form-group">
                                        <input type ="text" class ="form-control" placeholder="Nombre Director" #NuevoDirector [(ngModel)] = "NombreDirector" name = "NombreDirector">
                                </div>
                                <div class="form-group">
                                        <input type ="text" class ="form-control" placeholder="Genero" #NuevoGenero  [(ngModel)] = "Genero" name = "Genero">
                                </div>
                                <div class="form-group">
                                        <input type ="number" class ="form-control" placeholder="Duracion de Pelicula En minutos" #NuevaDuracion [(ngModel)] = "Duracion" name = "Duracion">
                                </div>
                                <div class="form-group">
                                    <textarea cols="30" rows="10" placeholder="Descripcion Pelicula" 
                                    class ="form-control" #NuevaDescripcion   [(ngModel)] = "Descripcion" name = "Descripcion"></textarea>
                                </div>
                                <button  class="btn btn-primary btn-block " >
                                    Enviar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
